body {
    background-color: #f8f9fa;
    font-family: 'Press Start 2P', sans-serif;
    min-height: 100vh;
    
    
    
   
}

/** font family press star 2p lo definimos para todos los elementos por esa razon lo ponemos en el body
como valor preterminado */

#Titulo {
    text-align: center;
    margin-top: 70px;
    color: #ffcb05;
    text-shadow: 8px 8px 0 #2a75bb, -1px -1px 0 #2a75bb, 1px -1px 0 #2a75bb, -1px 1px 0 #2a75bb, 1px 1px 0 #2a75bb;
   
}

.lead{
    color: #b6b6b6;
    text-shadow: none;
    font-size: 25px;
    
}

#pin-contenedor{
    font-size: 45px;
    letter-spacing: 25px;
    color: #0f3492;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    min-width: 200px;
    background-color: rgba(215, 215, 215, 0.8);
    margin: 30px  auto;
    
    
}

.contenedor-botones {
    text-align: center;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}

.boton {
    border-radius: 15px !important;
    cursor: pointer;
    width: 100px;
    height: 70px;
    margin: 5px !important;
    font-size: 1.5rem;
    font-weight: bold;
    transition: all 0.3s ease;
    border: none !important;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
    color: #111111 !important;
}
.boton-delete {
    border-radius: 15px !important;
    cursor: pointer;
    width: 100px;
    height: 70px;
    margin: 5px !important;
    font-size: 1.5rem;
    font-weight: bold;
    transition: all 0.3s ease;
    border: none !important;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
    color: #111111 !important;
}
.boton-entrar {
    border-radius: 15px !important;
    cursor: pointer;
    width: 100px;
    height: 70px;
    margin: 5px !important;
    font-size: 1.5rem;
    font-weight: bold;
    transition: all 0.3s ease;
    border: none !important;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
    color: #111111 !important;
    
}

.btn-primary {
    background-color: #eeeded !important;
}

.btn-primary:hover {
    background-color: #828282 !important;
    transform: scale(1.05);
}

.btn-secondary:first-child {
    background-color: #00cc2c !important;
}
.btn-secondary:nth-child(2) {
    background-color: #e60000!important;
}

.btn-secondary:first-child:hover {
    background-color: #2c853f  !important;
    transform: scale(1.05);
}
.btn-secondary:nth-child(2):hover {
    background-color: #941b1b  !important;
    transform: scale(1.05);
}




